@using urlshortener.Models
@model ShortnerViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "URL Shortener";
}

@using (Html.BeginForm("URLForm", "Home", FormMethod.Post))
{
    <div class="form-group" style="padding-left: 15px">
        @Html.LabelFor(m => m.SingleURL.LongURL, "Enter URL:")
        <div class="input-group">
            <span class="input-group-addon">></span>
            @Html.TextBoxFor(m => m.SingleURL.LongURL, new { @class = "form-control" })
            <input type="submit" value="Shorten URL" class="btn btn-primary" />
        </div>
    </div>
}

@Html.Action("GetList", "Home")